@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

header {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, #000000, #191919);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-inline: 8%;
}

.logo {
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
}

.logo-span {
    color: #f9004d;
}

nav>ul>li {
    display: inline-block;
    align-items: center;
    list-style-type: none;
    padding: 10px 35px;
}

nav>ul>li>a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}

nav>ul>li>a:hover {
    color: #f9004d;
    transition: .5s;
}

.nav-btn {
    padding-inline: 20px;
    padding-block: 10px;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f9004d;
    color: white;
}

.nav-btn:hover {
    background-color: white;
    color: #f9004d;
    transition: .5s;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    margin-top: 15%;
    color: white;
}

.welcome {
    color: #f9004d;
    font-weight: bold;
}

.name {
    font-weight: 1000;
}

.name-title {
    color: #f9004d;
}

.title>h1 {
    font-size: 52px;
}

.title>p>a {
    color: white;
    text-decoration: none;
}

.title>p>a:hover {
    color: #f9004d;
    text-decoration: underline;
}

.title-one {
    margin-bottom: -5px;
}

.title-two {
    margin-top: -5px;
}


/* <!-----About Me-----> */

section {
    height: 100vh;
    width: 100%;
    /* background-color: #191919; */
}

.image {
    width: 100px;
}