@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(182, 149, 116, 0.2),rgba(182, 149, 116, 0.4)),url(images/background.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: rgb(182, 149, 116);
}

nav {
    height: 60;
    padding: 2% 6%;
    background-color: rgba(255, 2555, 255, 0.3);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    filter: brightness(100);
    width: 150px;
}

.nav a {
    margin-inline: 15px;
    text-decoration: none;
}

.search {
    text-align: right;
}

.fa-magnifying-glass {
    width: 150px;
    justify-content: flex-end;
}