@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(182, 149, 116, 0.2),rgba(182, 149, 116, 0.4)),url(images/background.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: rgb(182, 149, 116);
}

nav {
    height: 90px;
    padding-inline: 6%;
    background-color: rgba(255, 2555, 255, 0.3);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px white;
}

nav img {
    filter: brightness(100);
    width: 150px;
}

.nav {
    align-content: center;
    height: 100%;
}

.nav a {
    margin-inline: 15px;
    text-decoration: none;
    color: white;
    padding-top: 34px;
    padding-bottom: 31px;
    padding-inline: 15px;
    border-bottom: solid 0px;
}

.nav a:hover {
    background-color: rgba(255, 2555, 255, 0.2);
    border-bottom: solid 2px;
}

.search {
    color: white;
    font-size: 20px;
    text-align: right;
}

.fa-magnifying-glass {
    width: 150px;
    justify-content: flex-end;
}