@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 10%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 200px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 30px;
    position: relative;
}

.nav-links ul li .a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.nav-links ul li .a::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: #ff5900;
    display: block;
    margin: auto;
    transition: .5s;
}

.nav-links ul li .a:hover::after {
    width: 100%;
}

.nav-links ul li a button {
    font-size: 15px;
    padding-block: 10px;
    padding-inline: 20px;
    border: 2px solid;
    border-color: #ff5900;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: #ff5900;
    cursor: pointer;
}

.nav-links ul li a button:hover {
    border: 2px solid;
    border-color: #ff5900;
    background-color: transparent;
    transition: .5s;
}

